<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Log-in</title>
    <link rel="stylesheet" href="MainCSS.css">
</head>
<body>



    <h1>FeynParet Teste</h1>
    <form method="POST" class="form">
        <label for="nome">insira o seu e-mail:</label>
        <input type="text" id="nome" name="nome">
        <label for="nome">insira sua senha:</label>
        <input type="text" id="senha" name="senha">
        <button type="submit">Enviar</button>
    </form>

    {% if nome %}
        <p>Nome: {{ nome }}</p>
    {% endif %}
    {% if senha %}
        <p>Senha: {{ senha }}</p>
    {% endif %}
</body>
</html>