body, h1,p,button{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
    padding: 1cm;
    padding-bottom: 1cm;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
}
div.form>label{
    padding: 0.2cm;
    border-radius: 10px;
    border: none;
    transition-duration: 0.5s;
    
}
div.form>label:hover{
    transition-duration: 0.5s;
    transform: scale(110%);
    box-shadow: 0px 8px 5px rgb(185, 37, 37);
}
div.form>submit{
    margin-top: 15px;
    padding: 0.2cm;
    border-radius: 10px;
    border: none;
    transition-duration: 0.5s;
    
}
div.form>button:hover{
    transition-duration: 0.5s;
    background-color: greenyellow;
    transform: scale(110%);
    
}